.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #B0E2FF;
    background: none;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-control {
    max-width: 570px;
    max-height: 700px;
    min-width: 250px;
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    display: block;
}

textarea {
    height: 150px;
}

.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-submit:hover {
        background-color: #45a049;
    }
