.container-register {
    align-items: center;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    color: #000000;
    border-radius: 5px;
    margin-bottom:50px;
}

.label {
    display: block;
    margin-bottom: 10px;
}

.input {
    display: block;
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.dropdown {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.radio-button-wrapper {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.radio-button {
    margin: 20px;
}

.register-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: wheat;
}

    .register-button:hover {
        background-color: #0056b3;
    }
